services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      # Data folder (if this exists, init files won't run again)
      - postgres_data:/var/lib/postgresql/data
      # Folder with your postgres_init.sql
      - ./postgres_init:/docker-entrypoint-initdb.d
    networks:
      - app-net

  mariadb:
    image: mariadb:11
    container_name: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: admin
      MYSQL_PASSWORD: adminpassword
      MYSQL_DATABASE: mariadb_testdb
    ports:
      - "3306:3306"
    volumes:
      # Data folder (if this exists, init SQL won't run again)
      - mariadb_data:/var/lib/mysql
      # Folder with mariadb_init.sql
      - ./mariadb_init:/docker-entrypoint-initdb.d
    networks:
      - app-net

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres  # you can still switch to MariaDB manually
    networks:
      - app-net

networks:
  app-net:

volumes:
  postgres_data:
  mariadb_data:
